<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title }}</title>
        <link href="static/style.css" rel="stylesheet">
        <script src="https://unpkg.com/htmx.org@1.9.12"></script>
    </head>
    <body>
        <main class="app" id="#root">    
            <h1>{{ title }}</h1>
            <h3>Welcome to {{ title }}</h3>
        </main>
        <script src="static/app.js"></script>
    </body>
</html>
